.custom-checkbox{
    label{
        position: relative;
        padding-left: 0px;
        cursor: pointer;
        &::before{
            position: absolute;
            content: ' ';
            width: 16px;
            height: 16px;
            border-radius: 3px;
            border: 1px solid #00070666;
            transform: translate(-130%, 10%);
        }
    }
    input:checked + label:before{
        background-color: #0A514C;
        background-image: url('../img/Icon.png');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        border: 1px solid #0A514C;
    }
    input{
        opacity: 0;
        visibility: hidden;

    }
}
.test-questions__options{
    display: flex;
    justify-content: space-between;
    padding: 18px 36px;
    background-color: #EFEFEF;
    margin: 12px 0 12px 0;
    font-size: 14px;
    &:last-child{
        flex-direction: column;
        font-size: 13px;
        & div:not(:last-child){
            margin: 0 0 20px 0;
            
        }
    }
}
// @media screen and (max-width: 768px) {
//     .test-questions__options{
//         flex-direction: column;
//         div{
//             margin: 6px 0;
//         }
//     }
// }