.casino-baner{
    background-color: #0A514C;
    border-radius: 10px;
    margin: 16px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 430px;
    h1{
        font-size: 72px;
        font-weight: 600;
        color: #fff;
        text-align: center;
        line-height: 80px;
    }
    .baner-text{
       max-width: 710px;
        margin: 16px 0 0 0;
        :first-child{
            color: #fff;
            font-size: 14px;
            text-align: center;
        }
        :last-child{
            font-weight: 600;
            color: #fff;
            font-size: 20px;
            text-align: center;
            margin: 16px 0 0 0;
        }
    }
}
.rating-title{
    h1{
        font-size: 28px;
        font-weight: 600;
    }
}
.casino-rating{
    margin: 60px auto 0 auto;
    max-width: 1100px;
}
.filters{
    display: flex;
    margin: 32px 0 0 0;
}
.custom-select{
    margin: 0 8px 0 0;
    position: relative;
    &.active{
        .select-body{
            max-height: 220px;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                width: 2px;
              }
            &::-webkit-scrollbar-track {
                background-color: #E6E6E6;
              }
              &::-webkit-scrollbar-thumb {
                background-color: #999C9C;
                }
        }
        .select-head{
            background-color: #0A514C;
            p{
                color: #fff;
            }
            svg{
                transform: rotate(180deg);
                color: #fff;
                path{
                    stroke: #fff;
                }
            }
        }
    }
}
.select-body{
max-height: 0;
overflow: hidden;
transition: max-height .2s ease-out;
background-color: #fff;
position: absolute;
width: 376px;
top: 60px;
z-index: 9999;
    .select-item{
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 15px;
    transition: .5s;

    }
}
.select-head{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px 12px 20px;
    border: 1px solid #00070666;
    cursor: pointer;
    border-radius: 5px;
    transition: .5s;
    p{
        font-weight: 600;
        transition: .5s;
    }
    svg{
        margin: 0 0 0 8px;
        path{
            transition: .5s;
        }
    }
}
.casino-menu-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .btn-container{
        height: 1px;
    }
}
.casino-tags{
    display: flex;
    flex-wrap: wrap;
    margin: 12px 0 0 0;
}
.casino-tag{
    background-color: #D9E3E3;
    display: flex;
    padding: 8px 10px;
    border-radius: 3px;
    align-items: center;
    margin: 0 4px 0 0;
    svg{
        margin: 0 0 0 8px;
        cursor: pointer;
    }
}

.casino-cards{
    margin: 32px 0 0 0;
}

.casino-card{
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 0 16px 0;
        &:first-child{
        border: 1px solid #FFE175;
        background-color: #fffbea;
        .card__number{
            background-color: #FFE175;
        }
    }
    &.active{
        .card-body{
            max-height: 300px;
            padding-top: 16px;
            padding-bottom: 16px;
        }
    }
}
.card-head{
    
    position: relative;
    padding: 16px 16px 16px 48px;
    &-row{
        display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .card__number{
        position: absolute;
        top: 40%;
        left: 0;
        padding: 9px;
        background-color: #0045401F;
        border-radius: 0 4px 4px 0;
    }
    
}
.card-head-more{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    cursor: pointer;
    svg{
        margin: 0 0 0 8px;
    }
}

.card__rating{
    div{
        margin: 0 0 8px 0;
    }
    .card__rating-text{
        display: flex;
        p{
            color: #4D4F4F;
        }
        svg{
            margin: 0 0 0 4px;
        }
    }
    .card__rating-number{
        display: flex;
        p{
            margin: 0 0 0 4px;
            font-weight: 600;

        }
    }
    .card__rating-link{
        color: #0A514C;
    }
}
.card__bonus{
    max-width: 240px;
    svg{
        margin: 0 0 8px 0;
    }
    p{
        font-size: 20px;
        font-weight: 600;
    }
}
.card-body{
    max-height: 0;

    transition: max-height .5s ease-out;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    justify-content: space-between;
    
    .card-body__info-title{
        color: #4D4F4F;
        font-size: 12px;
        margin: 0 0 12px 0;
    }
    .card-body__info-text{
        display: flex;
        &:not(:last-child){
            margin: 0 0 5px 0;
        }
        p{
            margin: 0 0 0 4px;
            font-size: 12px;
        }
    }
    .card-body__pay-title{
        color: #4D4F4F;
        margin: 0 0 8px 0;
        font-size: 12px;
    }
    .card-body__pay-img{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0px 4px;
    }
    .card-body__money-row{
        display: flex;
        &:not(:last-child){
            margin: 0 0 16px 0;
        }
        .card-body__money-column{
            p{
                color: #4D4F4F;
                font-size: 12px;
                &:last-child{
                    font-size: 16px;
                    font-weight: 600;
                    color: #000706;
                }
            }
        }
        .card-body__money-column:not(:last-child){
            margin: 0 24px 0 0;
        }
    }
}
.btn-more-card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 0;
    width: 100%;
    color: #0A514C;
    background-color: #0A514C1F;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;
    &:hover{
        background-color: #0A514C;
        color: #fff;
    }
}